/* Escribe aqui tu CSS */
.CajaIzquierda{
	border: 10px yellow solid;
	text-align: center;
	width: 200px;
	height: 200px;
	padding: 30px;
}
.CajaDerecha{
	border: 10px yellow solid;
	text-align: left;
	width: 200px;
	height: 200px;
	padding: 30px;
	position: absolute;
	left: 500px;

}